html {
    overflow: hidden;
}

body {
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.time {
    font-size: 60px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 150px;
    transition: all 0.5s;
}

.time:hover {
    text-shadow: 0px 0px 30px #ffffff;
    font-size: 70px;
    transition: all 0.5s;
}

.search {
    justify-content: center;
    align-items: center;
    display: flex;
}

.search_input {
    outline-style: none;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 25px 25px 25px 25px;
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    font-family: "microsoft yahei";
    color: white;
    font-weight: lighter;
    height: 50px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
    text-align: center;
}

/* .search_input:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
} */
/* .search_button {
    transform: translateX(-1px);
    margin: 0px;
    height: 50px;
    width: 70px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0px 25px 25px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 18px;
}

.search_button>img {
    height: 30px;
    width: 30px;
    padding: 8px;
} */

.slogan {
    width: 100%;
    height: 26px;
    left: 0px;
    bottom: 150px;
    position: absolute;
}

.slogan2 {
    text-align: center;
    color: #FFFFFF;
    transition: all 0.5s;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: flex;
}

.button_daohang {
    margin-top: 150px;
    margin-right: 15px;
    margin-left: 15px;
    height: 50px;
    width: 80px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    font-family: "microsoft yahei";
    font-weight: 50;
    transition: all 0.5s;
}

.button_daohang:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
    box-shadow: 0px 0px 12px #ffffff;
    height: 60px;
    width: 100px;
    border-radius: 30px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.5s;
}

.bigbox {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);

}

img {
    height: 50px;
    width: 50px;
}

.bigbox input {
    display: none;
}

.bigbox label {
    position: absolute;
    top: 10px;
    left: 240px;
    color: #666;
    padding-left: 20px;
    cursor: pointer;
    transition: all .5s;
}

.bigbox ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #2b3044;
    transition: all .5s;
}

.bigbox ul li {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    list-style: none;
}

.bigbox ul li:first-child {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.bigbox ul li:first-child img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 25px;
}

.bigbox ul li:first-child span {
    color: #ffffff;
    font-size: 16px;
    white-space: nowrap;
}

.bigbox ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #d2d2d2;
    text-decoration: none;
    transition: all .5s;
}

.bigbox ul li img {
    width: 20px;
    height: 20px;
    margin: 0 25px;
}

.bigbox ul li a span {
    font-size: 14px;
}

.bigbox ul li a:hover {
    color: #ffffff;
    background-color: rgba(47, 183, 204);
}

.bigbox input:checked+label {
    left: 0;
}

.bigbox input:checked~ul {
    left: -240px;
}